body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  form {
    background-color: white;
    padding: 40px; /* Aumentado de 20px a 40px */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 15px; /* Aumentado de 10px a 15px */
    margin: 15px 0; /* Aumentado de 10px a 15px */
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px; /* Aumentado de 200px a 300px */
    display: block;
  }
  
  input[type="submit"] {
    padding: 15px 30px; /* Aumentado de 10px 20px a 15px 30px */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px; /* Añadido para aumentar el tamaño de fuente */
  }